<div class="general-container">
  <div class="header">
    <h1>Stupid Coaching</h1>
  </div>

  <div class="form-container">
    <form action="/answer">
      <label id="label" for="question">Ask your coach anything!</label>
      <br>
      <input id="question-field" type="text" name="question">
      <input id="btn" type="submit" value="Ask!">
    </form>
  </div>
</div>
